.card {
    background-color: #f8fafc; /* Légèrement gris */
    color: #1a202c; /* Texte plus foncé */
    padding: 16px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ajouter une ombre légère */
}

.card:hover {
    transform: translateY(-5px); /* Légère élévation lors du hover */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); /* Accentuer l'ombre */
}

.grid {
    grid-gap: 20px; /* Réduire l'espace entre les cartes */
    margin-right: 10px; /* Ajouter un petit padding à droite */
}
@keyframes drawBorder {
    0% {
        width: 0;
        height: 0;
        border-top-color: #3b82f6;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50% {
        width: 100%;
        height: 0;
        border-top-color: #3b82f6;
        border-right-color: #3b82f6;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100% {
        width: 100%;
        height: 100%;
        border-top-color: #3b82f6;
        border-right-color: #3b82f6;
        border-bottom-color: #3b82f6;
        border-left-color: #3b82f6;
    }
}
.nav-item:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    animation: drawBorder 0.4s linear forwards;
}

a {
    font-family: 'Poppins', sans-serif;
}
